.form {
    padding: 1rem;
}

.image_and_date_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .image_container {
        border: 2px solid var(--foreground);
        width: 250px;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        position: relative;

        .uploaded_image {
            width: inherit;
            height: inherit;
            overflow: hidden;

            .image {
                border: 2px solid var(--foreground);
                object-fit: cover;
            }

            .clear_button {
                color: var(--foreground);
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
}
