
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: white;
}

@font-face {
    font-family: 'Porkys';
    src: url('/fonts/Porkys.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}