.post {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid var(--foreground);
    padding: 1rem;
    border-radius: 1rem;
}

.post_content {
    display: flex;
    gap: 1rem;
}
